<!-- Шаблон для отображения всех услуг -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
{% for service in services %}
<div class="container mt-4">
    <div class="d-flex position-relative mt-3">
      {% if service.picture %}
      <img src="{{ service.picture.url }}" height="200" class="rounded">
      {% endif %}
      <div class="container border px-5">
        <br>
        <h5 class="mt-0">{{ service.title }}</h5>
        <p>{{ service.descriptions }}</p>
        <p>{{ service.price }}</p>
        <a href="{% url 'detail' service.pk %}" class="stretched-link">Подробнее</a>
          <span class="container d-flex justify-content-end">
              {{ service.date_created|date:'d.m.Y H:i:s'}}
          </span>
      </div>
    </div>
</div>
{% endfor %}

<div class="modal fade" id="create_service" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="id_modal_content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить услугу:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data" name="service_form" id="id_service_form">
          {% csrf_token %}
          <div class="mb-3">
            <label for="picture" class="form-label">Добавте изображение</label>
            <input class="form-control" type="file" id="picture">
          </div>
          <div class="mb-3">
            <label for="title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="title">
          </div>
          <div class="mb-3">
            <label for="description" class="col-form-label">Description:</label>
            <textarea class="form-control" rows="8" id="description"></textarea>
          </div>
          <div class="mb-3">
            <label for="price" class="col-form-label">Price:</label>
            <input type="text" class="form-control" id="price">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" data-ajax-target="{% url 'service' %}" id="send_service">Отправить</button>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/create_service.js' %}"></script>

{% endblock %}