<!-- Шаблон для отображения информации сервиса -->
{% extends 'base.html' %}
{% load static %}

{% block title %}{{ service.title }}{% endblock %}

{% block content %}
<div class="container mt-4" id="service_content">
    <div class="d-flex position-relative mt-3" id="service_info">

    <!-- Если есть картинка, тогда отобразить её -->
      {% if service.picture %}
      <img id="service_image" src="{{ service.picture.url }}" height="200" class="rounded">
      {% endif %}
      <div class="container border px-5">
        <br>
        <h5 id="service_title" class="mt-0">{{ service.title }}</h5>
        <p id="service_descriptions">{{ service.descriptions }}</p>
        <p id="service_price">{{ service.price }}</p>
        <p><a href="{% url 'account' service.user.pk %}">{{ service.user }}</a></p>
          <span class="container d-flex justify-content-end">
              {{ service.date_created|date:'d.m.Y H:i:s'}}
          </span>
      </div>
    </div>
</div>

<!-- Если владелец этой услуги, тогда отобразить ему кнопки -->
{% if owner %}
<div class="container mt-3" id="service_buttons">
    <a id="update_content" data-ajax-target="{% url 'service_id' service.pk %}" data-bs-toggle="modal" data-bs-target="#contextModal" class="btn btn-secondary">Редактировать текст</a>
    <a id="update_image" data-ajax-target="{% url 'detail' service.pk %}" data-bs-toggle="modal" data-bs-target="#imageModal" class="btn btn-secondary">Редактировать фото</a>
    <a href="" id="delete_service" data-ajax-target="{% url 'delete' service.pk %}" onclick="deleteService({{ service.pk }})" class="btn btn-secondary">Удалить</a>
</div>
{% endif %}

<!-- Контейнер отображения комментариев услуги -->

<div class="container mt-3" id="comment_block_view">

    <!-- Отображение всех комментариев циклом -->
    {% for comm in service.comment_set.all %}
    <div class="container bt-3 border" id="comment_{{ comm.pk }}">

        <!-- Отображение аватарки пользователя -->
        {% if comm.user.userinfo.image %}
        <img src="{{ comm.user.userinfo.image.url }}" height="25" id="image-comment">
        <!-- Если аватарка не установленна, отобразить базовое изображение -->
        {% else %}
        <img src="{% static 'image/user1.png' %}" height="25">
        {% endif %}

        <a href="{% url 'account' comm.user.pk %}" id="user-link-comment">{{ comm.user }}</a>
        <p class="mt-2" id="body-comment">{{ comm.body }}</p>
        {% if request.user == comm.user %}
        <p class="d-flex justify-content-end"><button id="button_{{ comm.pk }}" class="btn btn-secondary btn-sm" data-ajax-target="{% url 'detail' service.pk %}" onclick="deleteComment({{ comm.pk }})">удалить</button></p>
        {% endif %}
        <p class="d-flex justify-content-end" id="date-created-comment">{{ comm.date_created|date:'d.m.Y H:i:s' }}</p>
    </div>
    {% endfor %}
    <div id="new-block-comment"></div>
    <br>
</div>

<!-- Если пользователь вошел в всистему он сможет оставить комментарий -->
{% if perm_for_comment %}
<!-- Форма для комментария -->
<div class="container mt-3" id="comment_block">
    <div class="row">
    <div class="col-md-4 mt-2">
    <form method="POST" id="comment-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input id="submit-form" type="submit" class="btn btn-secondary" data-ajax-target="{% url 'detail' service.pk %}" value="Добавить комментарий">
    </form>
    </div>
    </div>
</div>
{% endif %}

<!-- Модальное окно добавления услуги -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="id_imageModal">
      <div class="modal-header">
        <h5 class="modal-title" id="imageModalLabel">Добавить услугу:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data" name="service_form" id="id_imageModal_form">
          {% csrf_token %}
          <div class="mb-3">
            <label for="picture" class="form-label">Добавте изображение</label>
            <input class="form-control" type="file" id="picture" name="picture">
          </div>
        </form>
      </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            <button type="button" class="btn btn-primary" data-ajax-target="{% url 'service' %}" id="send_imageModal">Отправить</button>
          </div>
    </div>
  </div>
</div>



<div class="modal fade" id="contextModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="id_contextModal">
      <div class="modal-header">
        <h5 class="modal-title" id="contextModalLabel">Добавить услугу:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" name="service_form" id="id_contextModal_form">
          {% csrf_token %}
          <div class="mb-3">
            <label for="title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="title">
          </div>
          <div class="mb-3">
            <label for="description" class="col-form-label">Description:</label>
            <textarea class="form-control" rows="8" id="description"></textarea>
          </div>
          <div class="mb-3">
            <label for="price" class="col-form-label">Price:</label>
            <input type="text" class="form-control" id="price">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" data-ajax-target="{% url 'update' service.pk %}" id="send_contextModal">Отправить</button>
      </div>
    </div>
  </div>
</div>


<script src="{% static 'js/delete_service.js' %}"></script>
<script src="{% static 'js/create_service.js' %}"></script>
<script src="{% static 'js/update_context.js' %}"></script>
<script src="{% static 'js/create_comment.js' %}"></script>
<script src="{% static 'js/delete_comment.js' %}"></script>
{% endblock %}

